@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  video::-webkit-media-controls {
    display: none;
  }

  video::-webkit-media-controls-play-button {
    display: none;
  }

  video::-webkit-media-controls-volume-slider {
    display: none;
  }

  video::-webkit-media-controls-mute-button {
    display: none;
  }

  video::-webkit-media-controls-timeline {
    display: none;
  }

  video::-webkit-media-controls-current-time-display {
    display: none;
  }
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  display: block;
  width: fit-content;
}

#container {
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
}
